:root {
  /*Main Colors*/
  --main-color: #0c2b68;
  --primary-color: #4f8eff;
  --acent-color: #06c491;
  --complementary-color: #f5bb06;
  --disabled-text-color: #9c9b9c;
  --outline-color: #dadce0;
  --background-color: hsla(0, 0%, 59%, 0.192);
  --text-color: #212121;
  --shadow-color: #004dd210;
  --shadow-hover-color: #00000050;
  --error-color: #cb4335;
  --text-secondary-color: #757575;

  /*Color for backgounds oupaque*/
  --main-background-color: #fe6f6150;
  --main-hover-color: #ff9283;

  /*For primary buttons blue*/
  --hover-primary-color: #699cfb;
  --pressed-primary-color: #3979f1c9;
  --primary-background-color: #8cb1f6a2;
  /*For success buttons*/
  --hover-accent-color: #41ddb3;
  --pressed-accent-color: #0ac392;

  --course-main-color: #2471a3;
  --course-secondary-color: #5dade2;
  --mask-color: #d4e6f199;
}

@font-face {
  font-family: "OS Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OS SemiBold";
  src: url(../fonts/OpenSans-Semibold.ttf);
}

* {
  font-family: "OS Regular";
}

.text-white {
  color: white;
}

.text-black {
  color: rgb(54, 54, 54) !important;
}

.text-center {
  text-align: center;
}

.ml-1 {
  margin-left: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 10px;
}

.text-headline {
  font-weight: 400;
  font-size: 1.3rem;
}

.text-body1 {
  font-weight: 400;
  font-size: 1rem;
}

.w-100{
  width: 100%;
}

.text-title {
  font-size: 32px;
  font-family: "OS SemiBold";
}

.ant-menu-horizontal > .ant-menu-item a {
  color: white;
}

.ant-menu {
  color: white;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-col:first-child {
  padding-left: 0 !important;
}

.ant-col:last-child {
  padding-right: 0 !important;
}

.layout-background {
  background-color: var(--background-color);
  height: inherit;
  min-height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.card__button {
  transition: 0.3s !important;

  &:hover {
    color: var(--main-color) !important;
    font-size: 20px !important;
    transition: 0.3s !important;
    position: relative;
  }
}

.spinner__full-screen {
  min-height: 100vh;
}

.card__cover {
  overflow: hidden;
}

.card__image {
  height: 250px;
  width: 100%;
  overflow: hidden !important;
  display: inline-flex;
  transition: transform 0.4s;
}

.card__description {
  overflow-wrap: break-word;
}

.ant-card:hover img {
  transform: scale(1.15);
  transform-origin: 50% 50%;
}
